
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1e1e1e;
    font-family: sans-serif;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e24;
    color: #00bcd4;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    gap: 40px;
}

.settings, .counter-container {
    border: 2px solid #00bcd4;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    background-color: #2c2c36;
}

.display {
    font-size: 20px;
    margin-bottom: 20px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Красная цифра при достижении 5 */
.display.limit {
    color: red;
    border: 2px solid red;
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.4);
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 15px;
    border: 2px solid #00bfff;
    border-radius: 10px;
    background-color: #2a2a2a;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #87cefa;
    color: #000;
    cursor: pointer;
}

button:disabled {
    background-color: #444;
    color: #999;
    cursor: not-allowed;
}

.input-box {
    margin: 10px 0;
}

label {
    margin-right: 5px;
}