
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1e1e1e;
    font-family: sans-serif;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
}

.counter-container {
    background-color: #2a2a2a;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    color: #000;
    border: 2px solid #00bfff;
    margin: 100px auto;
}

.display {
    background-color: #2a2a2a; /* тёмная подложка */
    color: #00bfff; /* цифра — голубая */
    font-size: 60px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 2px solid #00bfff;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.3);
    transition: color 0.3s, border 0.3s;
}

/* Красная цифра при достижении 5 */
.display.limit {
    color: red;
    border: 2px solid red;
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.4);
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 15px;
    border: 2px solid #00bfff;
    border-radius: 10px;
    background-color: #2a2a2a;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #87cefa;
    color: #000;
    cursor: pointer;
}

button:disabled {
    background-color: #444;
    color: #999;
    cursor: not-allowed;
}
